@import url('./styles/navbar.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@media only screen and (max-width: 748px) {
    .c-link {
        display: none !important;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif !important;
    background-color: #18181B !important;
    color:white;
}

