.title_esperienze{
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
}

.esperienze{
    margin: 0;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #18181b;
}

.card{
    height: 40vh;
    background-color: #E4E4E7;
}

.card-title{
    font-size: xx-large;
    font-weight: 700;
}