@media only screen and (max-width: 1200px) {
    .home{
        height: calc(100vh - 13vw) !important;
    }
    home>.testo{
        padding-left: 7vw !important;
    }
    home>.img{
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .home>.testo{
        padding-left: 15px !important;
    }
}

.home{
    height: calc(100vh - 8vw);
    justify-content: center;
    display: flex;
    align-items: center;
}

.home>.testo{
    padding-left: 20vw;
}