@media only screen and (max-width: 768px) {
    .c-link {
        display: none !important;
    }
}

@media only screen and (max-width: 1200px) {
    .logo {
        justify-content: center;
        padding-top: 2vw;
    }
    .nav_row{
        height: 13vw !important;
    }
}

.lista-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link {
    transition: all 0.3s ease-in;
    padding: 10px 25px;
    border-radius: 20px;
    border: 1px solid transparent;
}

.link:hover {
    border: 1px solid #1e40af;
}

.link:active {
    background-color: #1e40af;
    transition: all 0.1s ease;
}

.logo {
    align-items: center;
    display: flex;
}

.logo h2 {
    padding-left: 4vw;
    color: white;
}

.c-link {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav_row {
    padding: 0;
    height: 8vw;
    transition: all 0.4s ease;
}